// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

h1{
    color: aquamarine;
    margin: auto;
}

@mixin square {
    width: 100px;
    height: 100px;
    background-color: red
}
.box {
    @include square;
}